@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F6F8;
    --foreground: #1C252E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Epilogue', sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
}

.gradientWarning{
  background: linear-gradient(135deg, #FFD666 0%, #FFAB00 100%);
}

.clip-path-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
